body {
  font-family: "Open Sans", sans-serif;
  padding: 16px;
  background-color: rgb(255, 255, 255);
}

.logo {
  font-family: "Kurale";
  color: black;
  text-decoration: wavy;
  /* justify-content: center;
  display: flex; */
}

.logo {
  font-size: 48px;
}

header {
  background-color: #4cffb4;
  /* justify-content: center;
  display: flex; */
}

h2 {
  background-color: #4cedff;
  /* display: flex;  */
  /* justify-content: center; */
}

/* .reason-for-writing-website {
  font-family: "Delicious Handrawn";
  font-size: larger;
} */

.inspiration {
  text-decoration: dotted;
}

.dictionary {
  background-color: #4cffb4;
}

a:hover {
  color: tomato;
}

a.logo:hover {
  color: tomato;
}

a:focus {
  color: tomato;
}

a:active {
  color: teal;
}

.pickle {
  color: teal;
}

.about-me {
  background-color: #1affa0;
}

footer {
  background-color: #a1ffd8;

  /* font-family: "Delicious Handrawn";
  font-size: larger; */
}

/* .contacts {
  font-family: "Open Sans", sans-serif;
  font-size: smaller;
} */

/* Shift the heading text to the left, by default it is centered */
table caption {
  text-align: left;
}

/* We "collapse" the frames of adjacent cells */
table {
  border-collapse: collapse;
}

/* 
  Add a border and padding to the cells, the distance from the content to the border.
  To control the vertical position, the caption-side property is used.
*/
table th,
table td {
  padding: 12px;
  border: 2px solid #5d5d5d;
}
